.question-card {
    display: grid;
    justify-content: center;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 2rem;
    height: max-content;
    padding: 3.5rem;
    box-shadow: 1rem 1rem 1rem 1rem rgba(0, 0, 0, 0.2);
    background-image:  linear-gradient(to right bottom, rgba(16, 16, 16, 0.6), rgba(0, 0, 0, 0.6)), url('https://images.fineartamerica.com/images-medium-large-5/abstract-metal-background-carbon-fiber-texture-bgblue.jpg');
    background-size: cover;
    border-radius: 10%;
    align-items: center;
    justify-items: center;
    color: whitesmoke;
    transform-style: preserve-3d;
    transition: all 0.8s linear;
    &-header {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2rem;
        font-size: 2rem;
    }

    &-overlay__correct {
        grid-row: 1 / 1;
        z-index: 3;
        background: rgba(palegreen, 0.5);
        width: 100%;
    }

    &-current {
        font-size: 5rem;
    }
    &-timer {
        text-align: end;
    }
    &-options {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
        font-size: 2rem;
    }

    &-highlight {
        display: grid;
        justify-content: center;
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 2rem;
        height: max-content;
        padding: 3.5rem;
        box-shadow: 1rem 1rem 1rem 1rem rgba(0, 0, 0, 0.2);
        background-image:  linear-gradient(to right bottom, rgba(252, 252, 252, 0.8), rgba(226, 226, 226, 0.8));
        border-radius: 10%;
        align-items: center;
        justify-items: center;
    }

    &-option {
        width: 20rem;
        padding: 1rem;
        text-align: center;
        background: rgba(blueviolet, 0.8);
        border-radius: 10%;
        transition: 0.5ms all;
        &:hover {
            background:blueviolet;
            transform: translateY(-0.1rem);
            cursor: pointer;
        }
        &__correct {
            background: greenyellow;
            width: 20rem;
            padding: 1rem;
            text-align: center;
            border-radius: 10%;
            transition: 0.5ms all;
        }
        &__incorrect {
            width: 20rem;
            padding: 1rem;
            text-align: center;
            border-radius: 10%;
            transition: 0.5ms all;
            background: red;
        }
    }

    &-icon__correct {
        width: 12rem;
        height: 12rem;
        border-radius: 100%;
        padding: 2rem;
        background:rgb(16, 179, 16);
        box-shadow: 0.3rem 0.3rem 0.3rem 0.3rem rgba(32, 213, 23, 0.221);
    }

    &-icon__incorrect {
        width: 12rem;
        height: 12rem;
        border-radius: 100%;
        padding: 2rem;
        background:rgba(red, 0.7);
        box-shadow: 0.3rem 0.3rem 0.3rem 0.3rem rgba(205, 33, 33, 0.2);
    }
    
}

.incorrect {
    background-image: linear-gradient(to right bottom, rgba(254, 97, 149, 0.8), rgba(237, 119, 158, 0.515));
}

.correct {
    background-image: linear-gradient(to right bottom, rgba(152, 249, 133, 0.8), rgba(221, 249, 207, 0.515));
}