.result-container {
    display: grid;
    justify-content: start;
    grid-template-rows: min-content 1fr;
    grid-gap: 2rem;
    height: max-content;
    width: 80vw;
    padding: 7rem;
    box-shadow: 1rem 1rem 1rem 1rem rgba(0, 0, 0, 0.2);
    background-image:  linear-gradient(to right bottom, rgba(16, 16, 16, 0.6), rgba(0, 0, 0, 0.6)), url('https://images.fineartamerica.com/images-medium-large-5/abstract-metal-background-carbon-fiber-texture-bgblue.jpg');
    background-size: cover;
    border-radius: 10%;
    color: whitesmoke;

    &-title {
        font-size: 3rem;
    }

    &-graphs {
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr;
        grid-gap: 2rem;
        grid-column: 1 / -1;
        justify-items: center;
        align-self: center;
    }

    &-answers {
        height: max-content;
        display: grid;
        grid-gap: 6rem;
    }
}