.card-container {
    display: grid;
    justify-content: center;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr 10rem;
    grid-gap: 4rem;

    height: max-content;
    padding: 3.5rem;
    box-shadow: 1rem 1rem 1rem 1rem rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.1);
    background-image:  linear-gradient(to right bottom, rgba(61, 232, 235, 0.3), rgba(24, 172, 240, 0.3)), url('https://www.parigiani.com/media/imagegallery/flat_singlepost_white-gallery-img-2015-07-13-08-03-33.jpg');
    border-radius: 10%;
    align-items: center;
    justify-items: center;
    font-weight: 600;
}

.card-title {
    font-size: 5rem;
    grid-column: 1 / -1;
}

.timer {
    width: 10rem;
    height: 10rem;
    border: solid;
    border-radius: 100%;
    text-align: center;
    font-size: 4rem;
    display: grid;
    align-items: center;
    justify-self: start;
}

.text {
    font-size: 3rem;
}