.card-container {
    display: grid;
    justify-content: center;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 2rem;
    height: max-content;
    padding: 3.5rem;
    box-shadow: 1rem 1rem 1rem 1rem rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.1);
    background-image:  linear-gradient(to right bottom, rgba(61, 232, 235, 0.3), rgba(24, 172, 240, 0.3)), url('https://www.parigiani.com/media/imagegallery/flat_singlepost_white-gallery-img-2015-07-13-08-03-33.jpg');
    border-radius: 10%;
    align-items: center;
    justify-items: center;
}

.card-title {
    font-size: 7rem;
}

.timer {
    width: 10rem;
    height: 10rem;
    border: solid;
    border-radius: 100%;
    text-align: center;
    font-size: 5rem;
    display: grid;
    align-items: center;
}